.MMM-IMDBComingSoon .wrapper{
    width:490px;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.MMM-IMDBComingSoon .poster {
    -webkit-filter: grayscale(100%);
    margin-bottom: 5px;
}

.MMM-IMDBComingSoon .plot {
    width: 185px;
    word-wrap: break-word;
}